ELEVENLABS_API_KEY=f12d85d0-fb9e-4f03-b71c-c5de7f1f9eaf
SEEDREAM_API_KEY=f12d85d0-fb9e-4f03-b71c-c5de7f1f9eaf
SEEDREAM_MODEL_ID=seedream-4-5-251128
SECRET_KEY=generate-a-long-random-string-here
LOGIN_USER=admin
LOGIN_PASSWORD=particle6
PORT=3000
